body{
  background-color: #c10033;
  margin: 35px;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

#phoneContents{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#background{
  height: 663px;
  width: 375px;
  background-color: white;
  border-radius: 50px;
  padding: 0px 50px 15px 30px;
  box-sizing: border-box;
  position: absolute;
  /*left: 24.25em;
  top: 1em;*/
  z-index: -5;
}

#phone{
  height: 680px;
  position: absolute;
}

#spacer{
  height: 363px;
  width: 330;
}

.profileText{
  height: 250px;
  width: 330px;
  padding: 10px 15px 20px 15px;
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 5;
}

.profileHeader{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profileH1{
  /*margin-top: 10px;*/
}

.profileH2{
  font-size: 1em;
  /*margin-top: 12px;*/
  padding-left: 10px;
}

.profileImg{
  width: 375px;
  border-radius: 50px;
  margin: 0px 0px 0px -30px;
}
